.sessoes {
    width: 100%;

    padding-left: 25px;
    margin-bottom: 150px;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.data {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #293845;

    margin-bottom: 25px;
}

.btn-horario {
    width: 83px;
    height: 43px;

    margin-right: 10px;
}
