* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
}

img {
    width: 129px;
    height: 193px;
}

button {
    background-color: #E8833A;
    border: none;
    border-radius: 3px;

    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFF;
}

button:hover {
    background-color: #e47322;
}

a {
    all: unset;
}